

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}








* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 16px 8px 32px;
    max-width: 600px;
    min-width: min-content;
    min-height: 100vh;
    background: #1F2633;
    /* color: #EDEFF3; */
    color: #dadfe7;
    font-family: sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

a {
    color: inherit;
}


h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: #EDEFF3;
    margin: 1.5em 0 0.5em;
}

:is(h1,h2,h3,h4,h5,h6):first-child {
    margin-top: 0;
}


h1{font-size:26px}
h2{font-size:24px}
h3{font-size:22px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

h1 {
    margin-bottom: 1.5em;
    text-align: center;
}




.content {
    flex-grow: 1;
}

.content-sparse {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.narrow {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}




.box {
    background: #27313F;
    border: 1px solid #3c4553;
    padding: 16px;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 16px;
}

.box + .box {
    margin-top: 32px;
}

.box > .title {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.box > .title img {
    max-height: 32px;
    max-width: 100%;
    display: block;
}





.text-left   { text-align: left!important; }
.text-right  { text-align: right!important; }
.text-center { text-align: center!important; }


.text-secondary { color: #B6BFC9; }
.text-muted     { color: #9EA9B5; }
.text-active    { color: #33DDFF; }
.text-warning   { color: #FFBB33; }
.text-success   { color: #6DF383; }
.text-danger    { color: #FF6680; }
.text-info      { color: #66DBD1; }





.hidden { display: none!important; }





details {
    position: relative;
    border-radius: 6px;
    border: 1px solid #3c4553;
    background: #27313F;
    color: #B6BFC9;
    margin: 0;
    padding: 2px 6px;
    font: inherit;
}

details summary {
    color: #EDEFF3;
    cursor: pointer;
    transition: margin 150ms ease-out;
}

details[open] summary {
    margin-bottom: 8px;
}

details + details {
    margin-top: 8px;
}








:is(.button-appearance, .button, button, input, select)[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}



:is(input:is([type="text"], [type="number"]), select) {
    background: #131820;
    color: #dadfe7;
    border: 1px solid #3c4553;
    font: inherit;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 6px 6px;
    font-size: 18px;
    line-height: 22px;
    min-width: 28px;
    outline: 0;
}

:is(input:is([type="text"], [type="number"]), select):focus {
/*
    outline-color: #5F6976;
    outline-style: solid;
    outline-width: 1px;
*/
    box-shadow: inset 0px 0px 2px 1px #5f6976;
}

select {
    cursor: pointer;
}






input[type="checkbox"],
input[type="radio"],
:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])) {
    position: relative;
    border-radius: 6px;
    border: 1px solid #3c4553;
    background: #5F6976;
    color: #EDEFF3;
    margin: 0;
    padding: 6px 12px;
    font: inherit;
    appearance: none;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).icon {
    padding-left: 0;
    padding-right: 0;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])):is([class^="i-"], [class*=" i-"]):not(.icon):before {
    margin-right: 8px;
}

input[type="checkbox"],
input[type="radio"],
:is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;
    font-size: 18px;
    line-height: 22px;
    min-height: 36px;
    min-width: 36px;
}


:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).button-secondary {
    background: #27313F;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).button-success {
    background: #009419;
    border-color: #025D14;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).button-danger {
    background: #CB0B38;
    border-color: #820627;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).button-warning {
    background: #CC6900;
    border-color: #662D00;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).button-active {
    background: #006BD6;
    border-color: #1A30A1;
}

:is(.button-appearance, .button, button, input:is([type="button"], [type="submit"], [type="reset"])).button-info {
    background: #009E9E;
    border-color: #0C565A;
}


input[type="checkbox"]:active:after,
input[type="radio"]:active:after,
:is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])):active:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(31 38 51 / 15%);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus,
:is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])):focus {
    /* outline */
    /* box-shadow: 0px 0px 2px 1px #5f6976; */
}


:is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) img {
    display: block;
    width: auto;
    height: 32px;
    margin: 0 auto;
    pointer-events: none;
}

:is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) img.img-left {
    float: left;
    margin: 0 0.4em 0 0;
}

:is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) img.img-right {
    float: right;
    margin: 0 0 0 0.4em;
}




input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    height: 18px;
    width: 18px;
    line-height: 18px;
    min-height: auto;
    min-width: auto;
    vertical-align: middle;
    margin-right: 4px;
}

input[type="checkbox"] {
    border-radius: 4px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"]:before,
input[type="radio"]:before {
    content: '';
    display: block;
    background: #EDEFF3;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    margin: -3px;
    border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: #006BD6;
    border-color: #1A30A1;
}











.input-group {
    display: flex;
    align-items: center;
}

.input-group :is(input:is([type="text"], [type="number"]), select) {
    width: 0;
    flex-grow: 1;
}

.input-group :is(input:is([type="text"], [type="number"]), select):not(:last-child) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group :is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group :is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])):not(:last-of-type) {
    border-radius: 0;
}











.buttons-group {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.buttons-group :is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) {
    flex-grow: 1;
    flex-basis: 100%;
}

.buttons-group.buttons-group-vertical {
    flex-direction: column;
}

.buttons-group.buttons-group-shrinked :is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) {
    flex-basis: auto;
    flex-grow: 0;
}










.title {
    font-size: 20px;
    color: #EDEFF3;
}
































@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes backdrop-fade-in {
  0%   { background-color: rgb(0 0 0 / 0%);     }
  100% { background-color: rgb(19 24 32 / 90%); }
}







dialog {
    position: relative;
    padding: 16px;
    width: calc(100% - 16px);
    max-width: 400px;
    margin: auto;
    border-radius: 16px;
    border: 4px solid #3c4553;
    background: #27313F;
    font: inherit;
    color: inherit;
    animation: fade-in 0.2s ease-out;
}

dialog:modal {
    position: fixed;
}

dialog > .title {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

dialog > .title img {
    max-height: 32px;
    max-width: 100%;
    display: block;
}

dialog > .content {
    padding: 0 2px;
    max-height: calc(100vh - 220px);
    overflow: auto;
}

dialog > .buttons-group {
    margin-top: 16px;
}


dialog :is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])) {
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    min-width: 34px;
}


dialog.dialog-iconic {
    display: flex;
    align-items: center;
    gap: 8px;
}

dialog.dialog-iconic > img {
    display: block;
    width: auto;
    height: 42px;
}






dialog[open]::backdrop {
    background: rgb(0 0 0 / 80%);
    background: rgb(19 24 32 / 90%);
    animation: backdrop-fade-in 0.2s ease-out forwards;
}










.tab-selector {
    /* margin-bottom: 16px; */
}

.tab-selector :is(.button, button, input:is([type="button"], [type="submit"], [type="reset"])).active {
    background: #006BD6;
    border-color: #1A30A1;
}

.tab-selector select {
    width: 100%;
}

.tabs > :not(.active) {
    display: none;
}













.form-row {
    margin-bottom: 32px;
}

.form-row:last-child {
    margin-bottom: 0!important;
}

label {
    display: block;
    margin-bottom: 8px;
    width: fit-content;
    cursor: pointer;
}

label:last-child {
    margin-bottom: 0!important;
}










table {
    width: 100%;
    vertical-align: middle;
    border-collapse: collapse;
}

tr, thead tr:last-child {
    border-bottom: 1px solid #3C4553;
}

tr:last-child {
    border-bottom: 0;
}

th, td {
    padding: 8px 2px;
}


































fieldset {
    background: #27313F;
    border: 1px solid #3c4553;
    padding: 16px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 32px;
    display: block;
    width: 100%;
}

fieldset[disabled] {
    opacity: 0.5;
}


fieldset > :is(legend, .legend) {
    font-size: 18px;
    color: #EDEFF3;
}

fieldset > .legend {
    margin-bottom: 16px;
}

:is(legend, .legend):empty {
    display: none;
}




fieldset > dd {
    color: #B6BFC9;
    font-size: 14px;
    margin: 0 0 8px 16px;
}

fieldset > dd:last-child {
    margin-bottom: 0!important;
}




fieldset input[type="number"] {
    max-width: 50%;
    text-align: right;
}









header menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-direction: row;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

header menu a {
    border-bottom: 1px solid #3c4553;
    text-decoration: none;
    line-height: 24px;
    color: #B6BFC9;
}

header menu a.logo {
    margin-right: auto;
    border: none;
}

header menu a.logo img {
    display: block;
    width: 24px;
    height: 24px;
}








#copyright {
    white-space: nowrap;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 48px;
    justify-content: space-between;
    font-size: 14px;
    color: #9EA9B5;
}

#copyright a {
    text-decoration: none;
}

#copyright a + a {
    margin-left: 16px;
}

#copyright a:before {
    margin-right: 8px;
}






/*-{ config page */


#config-page body {
    padding-top: 60px;
    padding-top: 128px;
    padding-bottom: 60px;
}


#config-page header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 8px;
    max-width: 600px;
    z-index: 1000;
    background: #1F2633;
}

#config-page header:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 16px;
    background: linear-gradient(to top, #1f263300, #1F2633);
    pointer-events: none;
}



#config-page footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 8px;
    max-width: 600px;
    z-index: 1000;
    background: #1F2633;
}

#config-page footer:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 16px;
    background: linear-gradient(to bottom, #1f263300, #1F2633);
    pointer-events: none;
}





.connection-controls {
    display: flex;
    gap: 8px;
}

.connection-controls > :last-child {
    margin-left: auto;
}





.tab-selector {
    margin-top: 16px;
}





#addGameBtn {
    flex-grow: 0!important;
    flex-basis: auto!important;
    margin-left: auto;
}


#deleteGameBtn {
    position: absolute;
    top: 100%;
    right: 8px;
}






#logDlg {
    max-width: 600px;
}

#logDlg > .content {
    white-space: pre;
}


/*-} */






.leds {
    display: flex;
    gap: 2px;
}

.leds.stop-ani > * {animation-name: none;}

.led {
    width: 16px;
    height: 16px;
    background: #00e000;
    border-radius: 50%;
    border: 1px solid #00000040;
    display: inline-block;
    vertical-align: middle;
}

label .led {
    margin-left: 4px;
}

.false-start  { background: #9090ff; }
.wrong-answer { background: #ff6060; }
.next-answer  { background: #ff50ff; }

@keyframes blinker-fs {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

.leds .false-start  { animation: blinker-fs 1s infinite cubic-bezier(1.0,0,0,1.0); }
.leds .wrong-answer { background: #b04040; }
.leds .next-answer  { background: #b010b0; }






.snd-btn {
    cursor: pointer;
    user-select: none;
    padding: 0 16px;
}








.iconic-item + .iconic-item {
    margin-top: 32px;
}

.iconic-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.iconic-item > .icon {
    width: auto;
    height: 48px;
}









.gallery {
    display: flex;
    gap: 8px;
    margin-top: 32px;
}

.gallery img {
    max-width: 100%;
    border: 1px solid #3c4553;
    border-radius: 8px;
}



